* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {
    --border-color : black;
    --background-color-box: hsl(33, 100%, 88%);
    --nav-text-color: white;
    --nav-background-color: darkblue;
    --width: 150px;
}

nav {
    background-color: var(--nav-background-color);
    padding: 10px
}

nav a {
    color: var(--nav-text-color);
    display: block;
    padding: 20px;
}

h1 {
    color: darkblue;
}

img {
    width: var(--width);
    height: auto;
    border: 1px solid var(--border-color);
    padding: 2px;
    box-shadow: 0 0 30px gray;
}

p {
    padding: 0;
}

main {
    max-width: 850px;
}

aside {
    width: 20rem;
    text-align: center;
}

aside img {
    width: 200px;
    height: auto;
}

aside h2 {
    position : relative;
    top: 44px;
    left: 0;
}

main img {
    width: var(--width);
    height: auto;
    float: right;
}

footer {
    margin-top: 15px;
    border-top: var(--border-color) 1px solid;
    text-align: center;
}

/* Class Selectors */
.box {
    padding: 1rem;
    border: 1px solid var(--border-color);
    margin: 1rem;
    background-color: var(--background-color-box);
    color: #000;
}